{% extends "layout.html" %}

{% block title %}
    About Me
{% endblock %}

{% block body %}
<section>
    <form action="/about" method="get">
        <p class="body-text">
            I am a computer science major at Santa Clara University.  I started college in fall of 2019,
            and learned a lot about C++ during that time. During COVID-19 I took the year off from school and took
            some CS classes at community college to prepare for next year. I got into CS50 in January of 2021
            and have been enjoying it ever since. This course has been super fun and I found it to be a fantastic
            learning experience for myself. Right now I am searching for internships for the summer of 2023 and
            I hope to use the skills I learned here for CS50 for not only this summer, but any other company I
            may work at in the future.
            <br>
            <br>
            In my spare time I am usually either playing drums
            or melee.
            I started taking drum lessons around the age of 13 and guitar at around the age of 16 when, in my junior year,
            I signed up for a beginning guitar class offered at my high school. I have had off and on practice for both instruments for the past couple of years.
            In around June of 2020, I started to take my drum and guitar practice more seriously but that had diminshed throughout the pandemic.
            In fall of 2021, returned to in person classes and began learning double bass. At this point, I was preparing and
            practicing for a metal band that would start rehearsing around January of 2022. Overall, my practice was still
            fairly inconsistent due to me dealing with some hand pains. This was a common theme for me in my sophomore year
            and it also affected my ability to play melee, which was devisating for me. My physical therapist
            diagnosed me with mild carpal tunnel and lacertus syndrome. Despite choosing every ergonomic
            alternative I could think of for both drums, melee, and every other activity involved in daily life,
            nothing seemed to work. It felt like the pain would never go away. That wasn't until I discovered
            this book by Dr. John Sarno called "The Mind-Body Perscription". Dr. Sarno explained that pain in the
            body can occur sometimes due to mild oxygen deprivations manifested by repressed emotions to protect the mind.
            Basically, the more repressed emotions, the more pain. The way to "cure" this pain was to somehow
            release these emotions from subconcious to concious thought. The main issue I had for myself was time.
            I always felt like I was running out of time or that time was never on my side. When I comforted myself
            and told myself that everything will work out long term, it comforted me and the pain has been slowly
            been going away over time.
            <br>
            <br>
            Before melee, I had played Ultimate for about a year until September of 2020.
            Ever since then melee has been my main game that I play regularly. I am very passionate about the game and one of my
            main goals as a player is to become very proficent at playing the game.
            As a passion project, in December of 2020, I decided to host an
            online Super Smash Brothers Melee tournament and realised that I really enjoyed it.
            In 2022, going into 2023, I am still hosting melee tournaments to this day.</p>
        </p>
    </form>
</section>
{% endblock %}