{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <form action="/register" method="post">
        <div class="form-group center-reg" style="width: 14rem">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            <br>
            <input class="form-control" name="password" placeholder="Password" type="password">
            <br>
            <input class="form-control" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <button class="btn btn-primary center-reg-button" type="submit">Register</button>
    </form>
{% endblock %}
